{% load my_filters %}
<h1>Shopping</h1>
<hr>
<h3>Products</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>In stock</th>
    </tr>
    {% for stock_item in products_in_stock %}
        <form action="{% url 'product_management_app:add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ stock_item.product.pk }}" name="product_id">

            <tr>
                <td>{{ stock_item.product.name }}</td>
                {% with deal=stock_item.product|get_deal:deals %}
                        {% if deal %}
                            <td>{{ stock_item.product.price|sub_discount:deal.discount_persentage }}</td>
                        {% else %}
                            <td>{{ stock_item.product.price }}</td>
                        {% endif %}
                {% endwith %}

                <td>{{ stock_item.quantity }}</td>
                <td><button type="submit">Buy</button></td>
            </tr>
        </form>
    {% endfor %}

</table>
<hr>
